.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar navbar"
    "what what what what"
    "header header header" }

.navbar {
    grid-area: navbar;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: #d5bdaf;


}
 
.navbar li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 20px;
    background-color: #d5bdaf;

}
 
.navbar a {
    padding: 40px;
    background-color: #d5bdaf;

}

.what{
    grid-area: name;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}