.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar navbar"
    "slider slider blank blank"
    "slider_1 slider_1 para para"
}

.navbar {
    grid-area: navbar;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: #d5bdaf;


}
 
.navbar li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 20px;
    background-color: #d5bdaf;

}
 
.navbar a {
    padding: 40px;
    background-color: #d5bdaf;

}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinate;
}
#slider figure img {
    width: 20;
    float: left;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
}

.blank{
    grid-area: blank;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinate;
}
#slider figure img {
    width: 20;
    float: left;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
}

.para{
    grid-area: para;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}