.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar navbar"
    "header header header header"
    "image_1 image_2 image_3 image_4"
    "information information information information"
}

.navbar {
    grid-area: navbar;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: #d5bdaf;


}
 
.navbar li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 20px;
    background-color: #d5bdaf;

}
 
.navbar a {
    padding: 40px;
    background-color: #d5bdaf;

}

.header {
    grid-area: header;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
    
}

.what{
    grid-area: name;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}

.why{
    grid-area: name;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}

.how{
    grid-area: name;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}

.blank {
    grid-area: blank;
    background-color: #e3d5ca;
    padding: 30px;
    text-align: center;
    text-align: justify;
    line-height: 200%;

}

.link {
    grid-area: link;
    text-align: center;
    background-color: #d6ccc2;

}