.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar navbar"
    "header header header header"
    "image_1 image_2 image_3 image_4"
    "information information information information"

}
