.container {
    display:grid;
    grid-template-columns: 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar"
    "header"
    "information"
     "blank";

}

.header {
    grid-area: header;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: #d5bdaf;

}

.navbar {
    grid-area: navbar;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: #d5bdaf;

}

 
.navbar li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 20px;
    background-color: #d5bdaf;
}
 

.navbar a {
    padding: 40px;
    background-color: #d5bdaf;

}


.blank{
    grid-area: blank;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}

.information{
    grid-area: information;
    background-color: #d5bdaf;
    padding: 30px;
    text-align: center;
}